<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.main>h4{
				margin-bottom: 10px;
			}
			.main a{
				color: inherit;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div class="main">
			<h4>
				题目要求：针对如下DOM结构，编写CSS，实现三栏水平布局，其中left、right分别位于左右两侧，left宽度为200px，right宽度为300px，main处在中间，宽度自适应。<br /> 
				要求：允许增加额外的DOM节点，但不能修改现有节点顺序。
			</h4>
			<pre>
&lt;div class="container"&gt; 
　　&lt;div class="main"&gt;main&lt;/div&gt; 
　　&lt;div class="left"&gt;left&lt;/div&gt; 
　　&lt;div class="right"&gt;right&lt;/div&gt; 
&lt;/div&gt;
			</pre>
			<h4>答案</h4>
			<p>1、自己做的<a href="one.html">→</a></p>
			<p>2、绝对定位布局<a href="two.html">→</a></p>
			<p>3、圣杯布局<a href="three.html">→</a></p>
			<p>4、双飞翼布局<a href="four.html">→</a></p>
			<p>5、Flex布局<a href="five.html">→</a></p>
		</div>

	</body>
</html>
